[Unit]
Description=Amigo daemon
After=network.target

[Service]
User=amigo
Group=amigo

Type=forking
PIDFile=/home/amigo/.amigo/amigod.pid
ExecStart=/home/amigo/Amigo/amigod -daemon -pid=/home/amigo/.amigo/amigod.pid \
-conf=/home/amigo/.amigo/amigo.conf -datadir=/home/amigo/.amigo

ExecStop=/home/amigo/Amigo/amigo-cli -conf=/home/amigo/.amigo/amigo.conf stop
ExecStop=/usr/bin/sleep 25

Restart=no
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
